{% extends 'website/layout.html' %}
{% block title %}{{ session['name'] }}{% endblock %}
{% block content %}
        <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>09:00</th>
                <th>10:00</th>
                <th>11:00</th>
                <th>12:00</th>
                <th>13:00</th>
                <th>14:00</th>
                <th>15:00</th>
                <th>16:00</th>
                <th>17:00</th>
                <th>18:00</th>
                <th>19:00</th>
            </tr>
        </thead>
        <tbody>
            {% for day, lessons in enumerate(table) %}
                <tr>
                    <td>{{ get_day(day + 1) }}</td>
                    {% for lesson in lessons %}
                        {% if len(lesson) > 0 %}
                            {% if lesson[0].shared %}
                                <td class="bg-warning">
                                {% for shared in lesson %}
                                    {{ str(shared.options.department.short_name) }}:{{ str(shared.options.grade) }}.Sınıf
                                {% endfor %}
                                </td>
                            {% else %}
                                <td>{{ str(lesson[0].options.department.short_name) }}:{{ str(lesson[0].options.grade) }}.Sınıf</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}