{% extends "dashboard/layout.html" %}
{% block title %}Yönetici Paneli{% endblock %}
{% block content %}
{% for department, tables in departments.items() %}
    <h1>{{ department.name }} Bölümü {{ department.short_name }}</h1>
    <a href="{{ url_for("dashboard.get_excel", department_id=department.id, syllabus_id=syllabus.id) }}" target="_blank" class="btn btn-primary float-end">Excel İndir</a>
    {% for grade, table in enumerate(tables) %}
        <h3>{{ grade + 1 }}. Sınıf</h3>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>09:00</th>
                    <th>10:00</th>
                    <th>11:00</th>
                    <th>12:00</th>
                    <th>13:00</th>
                    <th>14:00</th>
                    <th>15:00</th>
                    <th>16:00</th>
                    <th>17:00</th>
                    <th>18:00</th>
                    <th>19:00</th>
                </tr>
            </thead>
            <tbody>
                {% for day, lessons in enumerate(table) %}
                	<tr>
                        <td>{{ get_day(day + 1) }}</td>
                        {% for lesson in lessons %}
                            {% if lesson.shared %}
                            	<td class="bg-warning">{{ str(lesson.type) }}</td>

                            {% else %}
                        	    <td>{{ str(lesson.type) }}</td>
                            {% endif %}
                        {% endfor %}

                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endfor %}

{% endblock %}