{% extends "dashboard/layout.html" %}
{% block title %}Öğretim Görevlisi Ekle{% endblock %}
{% block content %}
	<h1 class="display-3">Öğretim Görevlisi Ekle</h1>
    <hr>
    <form method="post">
        <label for="name" class="form-label">Ad Soyad</label>
        <input type="text" name="name" class="form-control" maxlength="255" minlength="3" required>
        <br>
        <label for="password" class="form-label">Şifre</label>
        <input type="password" name="password" id="password" class="form-control" maxlength="255" minlength="3" required>
        <br>
        <label for="is_password_auto" class="form-check-label">Şifre otomatik oluşturulsun</label>
        <input type="checkbox" name="is_password_auto" id="is_password_auto" class="form-check-inline">

        <br>
        <button type="submit" class="btn btn-primary float-end">Ekle</button>
    </form>

    <script>
        const is_password_auto = document.getElementById("is_password_auto");
        const password = document.getElementById("password");

        is_password_auto.addEventListener('click', (e)=>{
            password.disabled = e.target.checked ? true : false;
        })
    </script>
{% endblock %}